.Main {
  padding-top: 3cm;
}

.App {
  text-align: center;
}

.lot-image {
  max-height: 60%;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

.Iconic {
  font-family: "Coda", cursive;
}

.head2 {
  font-family: "Lato", sans-serif;
}
.hover {
  cursor: pointer;
}

.homePage {
  position: absolute;
  left: 0px;
  top: 275px;
  width: 100%;
  font-size: 200%;
  color: white;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /* filter: brightness(99%) contrast(90%); */
}

#fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
